.carte {
    max-width: 1000px;
}

.navbar-header img {
    background-color: white;
    height: 50px;
    width: 47px;
}

.navbar-brand {
    padding-top: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.video-duc {
    height: 500px;
}

h2 {
    font-family: Anton, sans-serif;
    font-size: 36px;
}

h1 {
    font-family: Play, Anton, serif;
}

.distinctions img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.carousel {
    max-width: 1000px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

@media(max-width:768px) {
    .carousel {
        margin-top: 50px;
    }
}

.section-carousel {
    background-color: black;
}

.calltoaction-wrapper a:hover, .calltoaction-wrapper a:active {
    text-decoration: underline;
}

header {
    background-color: black;
}

.inscriptions {
    font-size: 21px;
}

@media(max-width: 768px) {
    .inscriptions {
        font-size: 16px;
    }
}

.emplacements iframe {
    width: 500px;
    height: 500px;
}

@media(max-width: 1000px) {
    .emplacements iframe {
        width: 450px;
        height: 450px;
    }
}

@media(max-width: 850px) {
    .emplacements iframe {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 768px) {
    .emplacements iframe {
        width: 250px;
        height: 250px;
    }
}

#form-message-warning, #form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}